# Eclipse local metadata and build outputs
.settings/
.metadata/
bin/
build/
target/
*.class

# Log files
*.log
logs/

# Operating System store files
.DS_Store
Thumbs.db

# IDE configuration directories
.idea/
.vscode/

# Environment / Local credentials configuration
src/main/resources/email.properties
