.content {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
}

.card-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    width: 100%;
}

.card-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}